<br>
<br>
<br>
<br>
<h1 style="margin:30px;" >Current Items in Your Basket</h1>
<table  class="table">
  <tr>
    
    <!-- <th scope="col">Name</th> -->
    <th scope="col">Basket ID</th>
    <th scope="col">Quantity</th>
    <th scope="col">Total Cost</th>
   
    <tr class="baskets" *ngFor="let bask of baskets; let i = index">
   
        <!-- <td>{{it.itemId}}</td> -->
        <!-- <td> <img src="/assets/images/placeholder.jpg"  height=100>
        </td> -->
        
        <td>{{bask.basketID}}</td>
        
        <td>{{bask.basketAmount}}</td>
        
            </tr>
