<p>login works!</p>
<html class="login-page">
  
 <br>
 <br>
 <br>
<h1 class="heading">Welcome to Farmer to Market</h1>
  <body>
    
 <div class="login">
     <h1>Login</h1>
  <form  >
    <p><input type="text" name="username" value="" placeholder="Username or Email" [(ngModel)]="username"></p>
    <p><input type="password" name="password" value="" placeholder="Password"[(ngModel)]="password"></p>
    <div *ngIf="!isValid" id="error"  class = "alert alert-danger" [hidden]="isvalid">{{errorMessage}}</div>
    <p class="remember_me">
      <label>
        <input type="checkbox" name="remember_me" id="remember_me">
        Remember me on this computer
      </label>
    </p>
    </form>
    <button class="btn btn-success" style="background-color: rgb(0, 105, 5);" (click)="login()" >Login</button>


  
</div>

</body>
<div class="row">
  <div class="column">
    <img src="assets\images\farmers-market-pic.jpg" alt="farmermarket" style="width:100%">
  </div>
  <div class="column">
    <img src="assets\images\fruit.jpg" alt="Fruit" style="width:100%">
  </div>
  <div class="column">
    <img src="assets\images\dairy.jpg" alt="Dai" style="width:100%">
  </div>
</div>