
<body>

  <table width="100%">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <!-- header of Navigation Bar-->

  <!--show menu button for mobile devices-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div padding="10px 20px" class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        
        <a class="nav-link" routerLink="/home-page">Farmer to Market<span></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Customer">Customer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/checkout"> Checkout</a>
      </li>
          <li class="nav-item">
        <a class="nav-link" routerLink="/item" type="menu">Items</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" routerLink="/Basket">Basket</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/Login">Login</a>
      </li> -->
          </ul>
      <input class ="search-box" type="text" placeholder="Search..">
      
     
  <button class="register-customer" >Register</button>
  <a class="nav-link" routerLink="/">Login</a>
  
    </div>
  </nav>
  </table>

    <!-- <br>
    <br>
    <br>
  
  <button class="register-customer" >Register</button>
      <button class="login-customer" onclick= "">Login as a customer</button> -->
    
    <router-outlet></router-outlet>
